@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Sistema de Registro<br />
    San Jose, Costa Rica<br />
    <abbr title="Telefono">P:</abbr>
    462269439
</address>

<address>
    <strong>Soporte:</strong> <a href="proyectos.programas2019@gmail.com>Support@example.com</a><br />
    
</address>
