
mfallas/DotNet_TestProject/Project/DotNetProject/\.vs/DotNetProject/v14/\.suo

mfallas/DotNet_TestProject/Project/DotNetProject/DotNetProject/bin/DotNetProject\.dll

mfallas/DotNet_TestProject/Project/DotNetProject/DotNetProject/bin/DotNetProject\.pdb

mfallas/DotNet_TestProject/Project/DotNetProject/DotNetProject/obj/Debug/DotNetProject\.dll

mfallas/DotNet_TestProject/Project/DotNetProject/DotNetProject/obj/Debug/DotNetProject\.pdb

mfallas/DotNet_TestProject/Project/DotNetProject/DotNetProject/obj/Debug/DotNetProject\.csproj\.FileListAbsolute\.txt

mfallas/DotNet_TestProject/Project/DotNetProject/DotNetProject/obj/Debug/DotNetProject\.csprojResolveAssemblyReference\.cache
